*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

.logo-head{
    padding: 5px 15px;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 8px rgba(231, 224, 224, 0.921);
    
}

.logo-head a{
    cursor: context-menu;

}
.list-of-options{
    display: flex;
    justify-content: center;
    gap: 270px;
    padding: 30px 10px;
    text-align: center;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0 8px rgba(231, 224, 224, 0.921);
}

.successfully{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60%;
}

.holdover{
    display: flex;
    gap: 5px;
    align-items: center;

}

.amount{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(172, 172, 172);
}

.one8{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

.suc8{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: rgb(172, 172, 172);
    font-weight: lighter;
}






.slider{
    overflow: hidden;
    width: 100%;    
  }
  figure{
    width: 400%;
    height: 100%;
    position: relative;
    animation: 4s slide infinite;
  }
  .slide{
    position: relative;
    width: 25%;
    float: left;
    display: ;
  }
  
  @keyframes slide{
    0%{
        left: 0;
    }
    40%{
        left: 0;
    }
    50%{
        left: -100%;
    }60%{
        left: -100%;
    }
    70%{
        left: -200%;
    }
    80%{
        left: -200%;
    }
  }