*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
.logo-head{
    padding: 5px 15px;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 8px rgba(231, 224, 224, 0.921);
    
}
.logo-head a{
    cursor: context-menu;
}
.list-of-options{
    display: flex;
    justify-content: center;
    gap: 270px;
    padding: 30px 10px;
    text-align: center;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0 8px rgba(231, 224, 224, 0.921);
    margin: 20px 50px;
}
